[run]
branch = True

[report]
sort = Cover
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    import
    """
    '''

[html]
title = Admitad Test Coverage
